.App {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  height: 30px;
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Editor button {
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
